.disc{
    background-color: rgb(206, 252, 247);
    background: linear-gradient(356deg, rgba(239, 252, 251) 50%, rgba(184, 250, 244) 100%); 
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    padding: 30px 40px;
    height: 150vh;
}

div.ins_disc img.logo_h_disc{
    height: auto;
    width: 40%;
    padding-bottom: 40px;
}

div p{
    align-items: center;
}

div h3{
    font-weight: bold;
    color: rgb(0, 63, 110)
}

div img.bg_disc {
    margin-left: 100px;
    padding-top: 150px;
    height: auto;
    width: 80%;
}