div.main{
    background: rgb(206, 252, 247);
    background: linear-gradient(356deg, rgb(239, 252, 251) 50%, rgb(184, 250, 244) 100%); 
    padding-top: 40px;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    height: 100vh;
}

div h2{
    font-weight: bold;
    color: rgb(0, 102, 102);
}

img.logo{
    margin-top: 30px;
    padding-bottom: 100px;
    height: auto;
    width: 40%;
}

img.bg{
    margin-left: 100px;
    padding-top: 150px;
    height: auto;
    width: 80%;
}